/**
 * Copyright 2017 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "@material/theme/color-palette";
@import "@material/theme/mixins";

// transition
$mdc-expansion-panel-transition-duration: .3s !default;
$mdc-expansion-panel-transition-properties: all !default;
$mdc-expansion-panel__header-transition-properties: padding !default;
$mdc-expansion-panel__expansion-icon-transition-properties: transform !default;

// colors
$mdc-expansion-panel-background-color: null !default;
$mdc-expansion-panel-elevation-color: null !default;
$mdc-expansion-panel-border-color: null !default;
$mdc-expansion-panel-background-active-color: null !default;

@if mdc-theme-tone($mdc-theme-background) == dark {
  $mdc-expansion-panel-background-color: $material-color-grey-800 !default;
  $mdc-expansion-panel-elevation-color: white !default;
  $mdc-expansion-panel-border-color: mdc-theme-light-variant($mdc-expansion-panel-background-color) !default;
  $mdc-expansion-panel-background-active-color: $material-color-grey-600 !default;
} @else {
  $mdc-expansion-panel-background-color: white !default;
  $mdc-expansion-panel-elevation-color: black !default;
  $mdc-expansion-panel-border-color: $material-color-grey-300 !default;
  $mdc-expansion-panel-background-active-color: $material-color-grey-200 !default;
}

$mdc-expansion-panel__footer-border-top-color: $mdc-expansion-panel-border-color !default;
$mdc-expansion-panel-border-bottom-color: $mdc-expansion-panel-border-color !default;
$mdc-expansion-panel-icon-color: mdc-theme-accessible-ink-color($mdc-expansion-panel-background-color, icon) !default;
$mdc-expansion-panel-primary-text-color: mdc-theme-accessible-ink-color($mdc-expansion-panel-background-color, primary) !default;
$mdc-expansion-panel-secondary-text-color: mdc-theme-accessible-ink-color($mdc-expansion-panel-background-color, secondary) !default;

// text
$mdc-expansion-panel-primary-text-font-size: 15px !default;
$mdc-expansion-panel-secondary-text-font-size: 12px !default;

// heights
$mdc-expansion-panel__header-height: 24px !default;
$mdc-expansion-panel__footer-height: 36px !default;
// if you change this value, also change numbers.COLLAPSED_HEIGHT in constants.js
$mdc-expansion-panel--collapsed-height: 48px !default;

// padding/margins
// if you change this value, also change numbers.EXPANDED_VERTICAL_MARGIN in constants.js
$mdc-expansion-panel--expanded-vertical-margin: 16px !default;
$mdc-expansion-panel--collapsed-margin: 0 !default;

$mdc-expansion-panel__header-padding-vertical: 12px !default;
$mdc-expansion-panel__header-padding-horizontal: 24px !default;
$mdc-expansion-panel__header-expanded-padding-vertical: 20px !default;
$mdc-expansion-panel__header-expanded-padding-horizontal: $mdc-expansion-panel__header-padding-horizontal !default;
$mdc-expansion-panel__header__section-margin: 16px !default;

$mdc-expansion-body-padding-top: 0 !default;
$mdc-expansion-body-padding-horizontal: 24px !default;
$mdc-expansion-body-padding-bottom: 16px !default;

$mdc-expansion-panel__footer-padding-vertical: 16px !default;
$mdc-expansion-panel__footer-padding-start: 24px !default;
$mdc-expansion-panel__footer-padding-end: 8px !default;

// ordering
$mdc-expansion-panel-last-element-order: 10 !default;

// borders
$mdc-expansion-panel-border-width: 1px !default;
$mdc-expansion-panel__footer-border-top-width: $mdc-expansion-panel-border-width !default;
$mdc-expansion-panel-border-bottom-width: $mdc-expansion-panel-border-width !default;
